version: "3.7"
volumes:
  db:
    driver:
      local
services:
  #PHP Service
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    image: instagram-app
    container_name: instagram-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - instagram-network

  #MySQL Service
  db:
    image: mysql:8.0.22
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: instagram-db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: root
    ports:
      - "3306:3306"
    volumes:
      - ./data:/docker-entrypoint-initdb.d
      - db:/var/lib/mysql
    networks:
      - instagram-network

  #Nginx Service
  nginx:
    image: nginx:alpine
    container_name: instagram-nginx
    restart: unless-stopped
    ports:
      - 5000:80
    volumes:
      - ./:/var/www
      - ./touch.conf:/etc/nginx/conf.d/default.conf
    networks:
      - instagram-network

#Docker Networks
networks:
  instagram-network:
    driver: bridge
